@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #fffbf0;
}
.nav-link {
  color: #3c3c3c;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.btn-custom {
  background-image: linear-gradient(#a4bc46 #85a019);
  font-weight: 700;
}
.header-text h1 {
  font-size: 80px;
  text-transform: uppercase;
  color: #363958;
  font-family: "Bebas Neue", cursive;
  line-height: 96px;
}
span {
  color: #fabe4c;
}

.card-img-top {
  background-color: #3c3c3c;
  border-radius: 10px;
}
.card-price {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #fabe4c;
}
