@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #fffbf0;
}
.nav-link {
  color: #3c3c3c;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.btn-custom {
  background-color: #85a019;
  font-weight: 700;
  color: white;
}
header {
  height: 100vh;
}
.header-text h1 {
  font-size: 80px;
  text-transform: uppercase;
  color: #363958;
  font-family: "Bebas Neue", cursive;
  line-height: 96px;
}
span {
  color: #fabe4c;
}

.card-img-top {
  background-color: #a39e9e;
  border-radius: 10px;
}
.card-price {
  font-weight: 900;
  font-size: 30px;
  line-height: 42px;
  color: #fabe4c;
}
.card {
  box-shadow: 10px 10px 30px rgb(223, 221, 221);
}
.box {
  box-shadow: 5px 5px 40px rgb(223, 221, 221);
}
.box img {
  width: 78px;
  height: 82px;
}
.box-heading {
  font-size: 24px;
}
